body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
   
    header{
          background-color: rgb(0, 0, 0);
          color: white;
          padding: 20px;
          text-align: center;
    }

    .section-style{
        background-color: white;
        margin: 20px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    h2{
        color: rgb(207, 0, 0);
    }

    h2{
        color: white;
    }

.topnav{
    background-color: #181717;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #202020;
    color: black;
}

.topnav a.active {
    background-color: #aa0404;
    color: rgb(0, 0, 0);
}

    footer{
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 20px 0;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .footer-container div {
        max-width: 300px;
    }

    .footer-container h3 {
        color: #00d4ff;
    }

    .footer-container ul {
        list-style: none;
        padding: 0;
    }

    .footer-container a {
        color: #fff;
        text-decoration: none;
    }

    .footer-container a:hover {
        text-decoration: underline;
    }

    .footer-bottom {
        text-align: center;
        padding: 10px 0;
        border-top: 1px solid #447084;
        margin-top: 20px;
    }